<mat-card>
  <!-- FIX ME -- puo diventare un template form -->
  <mat-card-header class="justify-content-center">
    <mat-card-title> Bacheca </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="messages" style="height: 8rem; overflow: scroll">
      <mat-list role="list">
        <mat-list-item class="message" role="listitem" *ngFor="let msg of messageList">
          <span class="d-flex" [ngClass]="msg.fromBackend ? 'justify-content-start' : 'justify-content-end'" style="font-size: 12px">{{
            msg.userName
          }}</span>
          <div class="d-flex" [ngClass]="msg.fromBackend ? 'justify-content-start' : 'justify-content-end'" style="margin-top: -9px">
            {{ msg.messageText }}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <mat-form-field class="example-form-field w-100">
      <mat-label>Inserisci il messaggio</mat-label>
      <input matInput type="text" [(ngModel)]="currentMessage" />
      <button *ngIf="currentMessage" matSuffix mat-icon-button aria-label="Clear" (click)="currentMessage = ''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="sendMessage()" class="m-3">Invio</button>
    <button mat-raised-button class="m-3" (click)="cancella()">Cancella</button>
  </div>
</mat-card>
