<div class="container">
  <div class="row">
    <mat-card class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 m-3">
      <mat-card-header class="justify-content-center">
        <mat-card-title>Casi Aperti</mat-card-title>
      </mat-card-header>
      <mat-card-content class="d-flex flex-column align-items-center">
        <h3>35</h3>
        <p>Up from yesterday</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 m-3">
      <mat-card-title>Prossimi meeting</mat-card-title>
    </mat-card>

    <mat-card class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 m-3">
      <mat-card-header>
        <mat-card-title>Totale Riscontri</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>35</h3>
        <p>Up from yesterday</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 m-3">
      <mat-card-header>
        <mat-card-title>Update</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>5</h3>
        <p>Down From Last Week</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
