<mat-button-toggle-group class="d-flex" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Autorizzazioni</mat-button-toggle>
  <!-- <mat-divider></mat-divider> -->
  <mat-button-toggle value="italic">Mail - username</mat-button-toggle>
  <!-- <mat-divider></mat-divider> -->
  <mat-button-toggle value="underline">Password</mat-button-toggle>
  <!-- <mat-divider></mat-divider> -->
  <mat-button-toggle value="italic">Colore dashboard</mat-button-toggle>
</mat-button-toggle-group>
